Repository smg-automotive/components-pkg, pull requests merged in 2024-10, with the labels that each got.

#1165 fix: downgrade @chakra-ui/react
  package-lock.json
  package.json
  release.config.js
  renovate.json
Labels: released on @downgrade-deps

#1152 fix: allow gap prop for flex
  src/components/flex/index.tsx
Labels: released on @ST-105

#1170 feat(tokens): Add auth0 sepecific tokens and allow them in modal
  src/components/modal/index.stories.tsx
  src/components/modal/index.tsx
  src/themes/components/modal.ts
  src/themes/shared/sizes.ts
  src/themes/shared/space.ts
Labels: released on @lkappler-SST-1010-auth0-tokens

#1173 fix: omit gap prop in flex component
  src/components/flex/index.tsx
Labels: released on @revert-flex-gap

#1169 fix: align digital contract icon to center
  src/components/icons/DigitalContractIcon.tsx
Labels: released on @digital-contract-icon-alignment

#1172 feat(ErrorPage): Add email change variation
  src/components/errorPage/actions/BackToHomepage.tsx
  src/components/errorPage/actions/primary/BackToHomepage.tsx
  src/components/errorPage/actions/secondary/BackToHomepage.tsx
  src/components/errorPage/content/EmailChangeVerification.tsx
  src/components/errorPage/index.stories.tsx
  src/components/errorPage/index.tsx
  src/locales/de/dict.json
  src/locales/en/dict.json
  src/locales/fr/dict.json
  src/locales/it/dict.json
  src/types/errorStatusCode.ts
Labels: released on @lkappeler-SST-965-email-change-error

#1179 fix: add infoportal link
  src/components/navigation/header/config/DrawerNodeItems.tsx
  src/locales/de/dict.json
  src/locales/en/dict.json
  src/locales/fr/dict.json
  src/locales/it/dict.json
Labels: released on @trad-header

#1187 feat: full width tabs
  src/components/tab/index.stories.tsx
  src/components/tab/index.tsx
  src/themes/components/tabs.ts
Labels: released on @full-width-tabs
