Repository smg-automotive/components-pkg, pull requests merged in 2024-11, with the labels that each got.

#1189 feat: add price icon
  src/components/icons/ChfCurrencyIcon.tsx
  src/components/icons/index.ts
Labels: released on @feat-price-icon

#1191 feat: flame icon
  src/components/icons/FlameIcon.tsx
  src/components/icons/index.ts
Labels: released on @talamcol-flame

#1194 fix: extending popover props
  src/components/popover/index.tsx
Labels: released on @extending-popover-width-prop

#1195 feat: adding bulb icon
  src/components/icons/BulbIcon.tsx
  src/components/icons/index.ts
Labels: released on @bulb-icon

#1198 feat: icons
  src/components/icons/NoPhotoIcon.tsx
  src/components/icons/ThumbsDownIcon.tsx
  src/components/icons/ThumbsUpIcon.tsx
  src/components/icons/index.ts
Labels: released on @insight-icons

#1204 feat: sparkling car & minus icons
  src/components/icons/MinusIcon.tsx
  src/components/icons/SparklingCarIcon.tsx
  src/components/icons/index.ts
Labels: released on @sparkling-car-and-minus-icons

#1208 fix: ms entitlement to hide dealerdashboard
  src/components/navigation/header/config/DrawerNodeItems.tsx
Labels: released on @cockpit-link-header

#1210 fix: add missing varable
  src/themes/components/slider.ts
Labels: released on @lkappeler-fix-slider

#1212 feat: add new icons for market price deviation
  src/components/icons/DoubleChevronDownIcon.tsx
  src/components/icons/DoubleChevronUpIcon.tsx
  src/components/icons/DoubleLineIcon.tsx
  src/components/icons/NotAvailableSquareIcon.tsx
  src/components/icons/index.ts
Labels: released on @feat-new-market-price-deviation-icons
