Repository smg-automotive/components-pkg, pull requests merged in 2025-01, with the labels that each got.

#1249 fix: move condition to prefixDomain
  src/components/navigation/link.ts
Labels: released on @talamcol-move-to-prefix

#1251 fix: label icon size
  src/components/icons/LabelIcon.tsx
Labels: released on @lable-icon-size

#1248 feat: use relative URLs in header and footer if the component is used in the same project
  src/components/navigation/BaseConfig.tsx
  src/components/navigation/footer/config/factory.ts
  src/components/navigation/footer/config/index.ts
  src/components/navigation/footer/index.stories.tsx
  src/components/navigation/footer/index.tsx
  src/components/navigation/header/__tests__/index.Test.tsx
  src/components/navigation/header/config/DrawerNodeItems.tsx
  src/components/navigation/header/config/HeaderNavigationConfig.tsx
  src/components/navigation/header/config/comparison.ts
  src/components/navigation/header/config/headerNavigationLink.ts
  src/components/navigation/header/config/sell.ts
  src/components/navigation/header/index.stories.tsx
  src/components/navigation/header/index.tsx
  src/components/navigation/header/links/NavigationLink.tsx
  src/components/navigation/link.ts
  src/types/project.ts
Labels: released on @talamcol-project-identifiers, released on @talamcol-move-to-prefix

#1252 fix: remove old vehicle pool link from user menu
  src/components/navigation/header/config/DrawerNodeItems.tsx
  src/locales/de/dict.json
  src/locales/en/dict.json
  src/locales/fr/dict.json
  src/locales/it/dict.json
Labels: released on @IN-2432-legacy-vp-urls

#1256 fix: adding download icon
  src/components/icons/DownloadIcon.tsx
  src/components/icons/index.ts
Labels: released on @adding-download-icon

#1258 fix: add new warranty icon
  src/components/icons/WarrantyIcon.tsx
  src/components/icons/index.ts
Labels: released on @ST-304-Warranty

#1264 fix: change rating stars color
  src/components/rating/index.tsx
Labels: released on @DM-3655-change-rating-stars-color

#1217 feat: removing dealer dashboard link
  src/components/navigation/header/config/DrawerNodeItems.tsx
Labels: released on @dealer-dashboard-link

#1281 chore: Update migration docs for unstyled control
  migration-guide.md
Labels: documentation
