Repository smg-automotive/components-pkg, pull requests merged in 2025-05, with the labels that each got.

#1385 feat: make facet optional on checkbox filter
  src/components/checkboxFilter/CheckboxWithFacet.tsx
  src/components/checkboxFilter/type.ts
Labels: released on @talamcol-no-facet

#1386 fix: adjust time icon colors to match currentColor
  src/components/icons/TimeIcon.tsx
Labels: released on @dbojovic-adjust-time-icon-color

#1387 fix: update header info management link
  src/components/navigation/header/config/Presence.tsx
Labels: released on @update-header-info-management-link

#1388 feat: create time picker component
  src/components/index.ts
  src/components/timePicker/__tests__/TimePicker.Test.tsx
  src/components/timePicker/index.stories.tsx
  src/components/timePicker/index.tsx
Labels: released on @dbojovic-vsst-3622-time-picker

#1390 fix: change optimizer link in header
  src/components/navigation/header/config/Optimizer.tsx
Labels: released on @ST-1065

#1333 BREAKING CHANGE: tenant selection in the header
  .jest/setup/fetch.ts
  .jest/setup/textEncoder.ts
  .storybook/main.ts
  fixtures/user.ts
  jest.config.ts
  package-lock.json
  package.json
  src/__mocks__/oauth4webapi.js
  src/components/icons/GarageIcon.tsx
  src/components/icons/index.ts
  src/components/index.ts
  src/components/input/SearchField.tsx
  src/components/input/index.tsx
  src/components/list/SearchableList.tsx
  src/components/mobileOnlyAccordion/index.tsx
  src/components/navigation/__tests__/link.test.ts
  src/components/navigation/header/NavigationAvatar.tsx
  src/components/navigation/header/__tests__/index.Test.tsx
  src/components/navigation/header/config/HeaderNavigationConfig.tsx
  src/components/navigation/header/config/headerNavigationLink.ts
  src/components/navigation/header/drawer/DrawerLoginToggle.tsx
  src/components/navigation/header/drawer/UserInfo.tsx
  src/components/navigation/header/drawer/index.tsx
  src/components/navigation/header/drawer/userInfo/SelectedTenantInfo.tsx
  src/components/navigation/header/drawer/userInfo/TenantSelectionMenu.tsx
  src/components/navigation/header/drawer/userInfo/index.tsx
  src/components/navigation/header/index.stories.tsx
  src/components/navigation/header/index.tsx
  src/components/navigation/header/navigationTenantMenu/Content.tsx
  src/components/navigation/header/navigationTenantMenu/Loading.tsx
  src/components/navigation/header/navigationTenantMenu/index.tsx
  src/components/navigation/link.ts
  src/components/tenantSelection/Container.tsx
  src/components/tenantSelection/Loading.tsx
  src/components/tenantSelection/ModalLayout.tsx
  src/components/tenantSelection/Overview.tsx
  src/components/tenantSelection/__tests__/TenantSelection.Test.tsx
  src/components/tenantSelection/__tests__/createTenantLabel.test.ts
  src/components/tenantSelection/createTenantLabel.ts
  src/components/tenantSelection/index.stories.tsx
  src/components/tenantSelection/index.tsx
  src/components/tenantSelection/select/List.tsx
  src/components/tenantSelection/select/index.tsx
  src/components/tenantSelection/tenantSelectionIllustration.png
  src/locales/de/dict.json
  src/locales/en/dict.json
  src/locales/fr/dict.json
  src/locales/it/dict.json
  tsconfig.build.json
  tsconfig.json
Labels: released on @show-selected-tenant, released on @tenant-selection-root, released on @select-tenant-from-header, released on @mobile-header-fixes, released on @mobile-tenant-selection, released on @fix-large-seller-count

#1392 feat: removing marketprice link from navigation
  src/components/navigation/header/config/DrawerNodeItems.tsx
  src/components/navigation/header/config/MarketPriceCheck.tsx
  src/locales/de/dict.json
  src/locales/en/dict.json
  src/locales/fr/dict.json
  src/locales/it/dict.json
Labels: released on @remove-market-price-link
