Repository smg-automotive/components-pkg, pull requests merged in 2025-02, with the labels that each got.

#1310 feat: Swiss flag icon added
  src/components/icons/SwissFlagIcon.tsx
  src/components/icons/index.ts
Labels: released on @feat-ST-689-create-listing-row

#1308 fix: add triangle icon
  src/components/icons/TriangleIcon.tsx
  src/components/icons/index.ts
Labels: released on @ST-696

#1312 feat: add globe icon
  src/components/icons/GlobeIcon.tsx
  src/components/icons/index.ts
Labels: released on @dgajin-vsst-3214-add-globe-icon

#1322 feat: remove full width tab panel margin
  src/themes/components/tabs.ts
Labels: released on @remove-full-width-tab-panel-margin
