Repository smg-automotive/components-pkg, pull requests merged in 2025-04, with the labels that each got.

#1351 fix: properly set the overflows and heights for the tenant selection
  src/components/navigation/header/drawer/index.tsx
  src/components/navigation/header/index.stories.tsx
  src/components/navigation/header/index.tsx
  src/components/navigation/header/navigationTenantMenu/index.tsx
  src/components/tenantSelection/ModalLayout.tsx
  src/components/tenantSelection/index.stories.tsx
Labels: released on @fix-large-seller-count

#1361 PS-289 Feat: Migrate checkbox
  src-v2/components/checkbox/index.stories.tsx
  src-v2/components/checkbox/index.tsx
  src-v2/components/index.ts
  src/components/checkbox/__tests__/Checkbox.Test.tsx
  src/components/checkbox/index.stories.tsx
  src/components/checkbox/index.tsx
  src/components/index.ts
  src/themes/shared/slotRecipes/checkbox.ts
  src/themes/shared/slotRecipes/index.ts
Labels: released on @PS-289-migrate-checkbox

#1369 feat(FED-645): update links
  src/components/navigation/BaseConfig.tsx
  src/components/navigation/footer/config/index.ts
  src/components/navigation/header/config/DrawerNodeItems.tsx
  src/components/navigation/header/config/HeaderNavigationConfig.tsx
  src/components/navigation/header/config/headerLinks.ts
  src/components/navigation/header/config/headerNavigationLink.ts
  src/components/navigation/header/config/leasing.ts
  src/components/navigation/header/config/sell.ts
  src/components/navigation/header/config/vehiclePool.ts
  src/components/navigation/header/index.tsx
  src/components/navigation/link.ts
  src/locales/de/dict.json
  src/locales/en/dict.json
  src/locales/fr/dict.json
  src/locales/it/dict.json
Labels: released on @lkappeler-FED-645-update-links

#1372 fix: update HCI link in navigation header
  src/components/navigation/header/config/hci.ts
Labels: released on @DM-3564-hci-navigation

#1374 feat: add apple, android and windows icons
  src/components/icons/AndroidIcon.tsx
  src/components/icons/AppleIcon.tsx
  src/components/icons/WindowsIcon.tsx
  src/components/icons/index.ts
Labels: released on @vendor-icons

#1378 feat: added speaker icon
  src/components/icons/SpeakerIcon.tsx
  src/components/icons/index.ts
Labels: released on @feat-add-speaker-icon

#1380 feat: added more photos icon
  src/components/icons/AddPhotoIcon.tsx
  src/components/icons/index.ts
Labels: released on @dgajin-add-more-photos-icon

#1382 feat: export link box and link overlay from chakra
  src/components/index.ts
  src/components/linkOverlay/index.stories.tsx
  src/components/linkOverlay/index.tsx
Labels: released on @talamcol-link-box
