Repository smg-automotive/components-pkg, pull requests merged in 2025-03, with the labels that each got.

#1330 feat: removing legacy links from navigation
  src/components/navigation/header/config/DrawerNodeItems.tsx
  src/locales/de/dict.json
  src/locales/en/dict.json
  src/locales/fr/dict.json
  src/locales/it/dict.json
Labels: released on @remove-links

#1326 feat: tenant selection modal
  fixtures/enrichedSessionUser.ts
  package-lock.json
  package.json
  src/components/index.ts
  src/components/tenantSelection/Container.tsx
  src/components/tenantSelection/Loading.tsx
  src/components/tenantSelection/ModalLayout.tsx
  src/components/tenantSelection/Overview.tsx
  src/components/tenantSelection/Select.tsx
  src/components/tenantSelection/__tests__/TenantSelection.Test.tsx
  src/components/tenantSelection/__tests__/createTenantLabel.test.ts
  src/components/tenantSelection/createTenantLabel.ts
  src/components/tenantSelection/index.stories.tsx
  src/components/tenantSelection/index.tsx
  src/components/tenantSelection/tenantSelectionIllustration.png
  src/locales/de/dict.json
  src/locales/en/dict.json
  src/locales/fr/dict.json
  src/locales/it/dict.json
Labels: released on @tenant-selection, released on @show-selected-tenant

#1334 fix: remove cockpit-frontend entitlement
  src/components/navigation/header/config/DrawerNodeItems.tsx
  src/types/entitlements.ts
Labels: released on @cokpit-link

#1328 feat: show selected tenant in user drawer
  src/components/icons/GarageIcon.tsx
  src/components/icons/index.ts
  src/components/menu/index.tsx
  src/components/navigation/header/ComparisonItem.tsx
  src/components/navigation/header/NavigationLanguageMenu.tsx
  src/components/navigation/header/__tests__/index.Test.tsx
  src/components/navigation/header/drawer/UserInfo.tsx
  src/components/navigation/header/drawer/index.tsx
  src/components/navigation/header/index.stories.tsx
  src/components/navigation/header/index.tsx
Labels: released on @show-selected-tenant

#1336 chore(config): Ignore generated theme
  .gitignore
  .prettierignore
  eslint.config.mjs
Labels: released on @lkappeler-linter-config

#1340 feat(FED-339) form control > field
  migration-guide.md
  package.json
  src-v2/components/formControl/index.tsx
  src/components/field/__tests__/Field.Test.tsx
  src/components/field/index.stories.tsx
  src/components/field/index.tsx
  src/themes/shared/slotRecipes/field.ts
  src/themes/shared/slotRecipes/index.ts
Labels: released on @lkappeler-FED-339-form-control

#1343 feat: mobile header improvements
  fixtures/user.ts
  src/components/icons/HamburgerMenuIcon.tsx
  src/components/icons/LogoutIcon.tsx
  src/components/icons/index.ts
  src/components/menu/index.tsx
  src/components/navigation/header/ComparisonItem.tsx
  src/components/navigation/header/MobileMenuToggle.tsx
  src/components/navigation/header/NavigationAvatar.tsx
  src/components/navigation/header/NavigationItem.tsx
  src/components/navigation/header/NavigationItems.tsx
  src/components/navigation/header/NavigationLanguageMenu.tsx
  src/components/navigation/header/__tests__/index.Test.tsx
  src/components/navigation/header/config/AutoRadar.tsx
  src/components/navigation/header/config/DrawerNodeItems.tsx
  src/components/navigation/header/config/HeaderNavigationConfig.tsx
  src/components/navigation/header/config/MarketPriceCheck.tsx
  src/components/navigation/header/config/Optimizer.tsx
  src/components/navigation/header/config/Presence.tsx
  src/components/navigation/header/config/advertise.ts
  src/components/navigation/header/config/cockpit.ts
  src/components/navigation/header/config/comparison.ts
  src/components/navigation/header/config/dealerInfoSystem.ts
  src/components/navigation/header/config/dmsLog.ts
  src/components/navigation/header/config/estimate.ts
  src/components/navigation/header/config/hci.ts
  src/components/navigation/header/config/importInfo.ts
  src/components/navigation/header/config/infoPortal.ts
  src/components/navigation/header/config/insuranceComparison.ts
  src/components/navigation/header/config/language.ts
  src/components/navigation/header/config/leadsManagement.ts
  src/components/navigation/header/config/leasing.ts
  src/components/navigation/header/config/partnerHub.ts
  src/components/navigation/header/config/print.ts
  src/components/navigation/header/config/search.ts
  src/components/navigation/header/config/sell.ts
  src/components/navigation/header/config/templates.ts
  src/components/navigation/header/config/topListing.ts
  src/components/navigation/header/config/topVehicles.ts
  src/components/navigation/header/config/user.ts
  src/components/navigation/header/config/vehiclePool.ts
  src/components/navigation/header/drawer/DrawerIndicator.tsx
  src/components/navigation/header/drawer/DrawerLoginToggle.tsx
  src/components/navigation/header/drawer/DrawerMenu.tsx
  src/components/navigation/header/drawer/DrawerSections.tsx
  src/components/navigation/header/drawer/UserInfo.tsx
  src/components/navigation/header/drawer/index.tsx
  src/components/navigation/header/index.stories.tsx
  src/components/navigation/header/index.tsx
  src/components/navigation/header/links/NavigationLink.tsx
  src/components/navigation/header/replaceLanguage.ts
  src/components/navigation/link.ts
Labels: released on @mobile-header-improvements

#1347 feat: tenant selection on mobile
  src/components/mobileOnlyAccordion/index.tsx
  src/components/navigation/header/__tests__/index.Test.tsx
  src/components/navigation/header/drawer/index.tsx
  src/components/navigation/header/drawer/userInfo/SelectedTenantInfo.tsx
  src/components/navigation/header/drawer/userInfo/TenantSelectionMenu.tsx
  src/components/navigation/header/drawer/userInfo/index.tsx
  src/components/navigation/header/index.stories.tsx
  src/components/navigation/header/index.tsx
  src/components/navigation/header/navigationTenantMenu/Content.tsx
  src/components/navigation/header/navigationTenantMenu/Loading.tsx
  src/components/navigation/header/navigationTenantMenu/index.tsx
  src/components/tenantSelection/select/List.tsx
Labels: released on @mobile-tenant-selection

#1352 PS-275 Feat: Migrate Count component
  src-v2/components/count/index.stories.tsx
  src-v2/components/count/index.tsx
  src-v2/components/index.ts
  src/components/count/index.stories.tsx
  src/components/count/index.tsx
  src/components/index.ts
  src/themes/shared/recipes/count.ts
  src/themes/shared/recipes/index.ts
Labels: released on @PS-275-migrate-count

#1354 fix: add professional packages link in footer
  src/components/navigation/footer/config/index.ts
  src/locales/de/dict.json
  src/locales/en/dict.json
  src/locales/fr/dict.json
  src/locales/it/dict.json
Labels: released on @ST-760

#1360 feat: constrain menu content max width
  src/themes/components/menu.ts
Labels: released on @constrain-menu-content-max-width
