Repository smg-automotive/components-pkg, pull requests merged in 2025-09, with the labels that each got.

#1527 feat: select component migration
  src-v2/components/index.ts
  src-v2/components/select/index.tsx
  src-v2/themes/components/index.ts
  src-v2/themes/components/select.ts
  src/components/index.ts
  src/components/input/index.tsx
  src/components/select/index.stories.tsx
  src/components/select/index.tsx
  src/themes/shared/slotRecipes/index.ts
  src/themes/shared/slotRecipes/input.ts
  src/themes/shared/slotRecipes/select.ts
  src/themes/shared/tokens/spacing.ts
Labels: released on @migrate-select

#1518 feat(FED-802) upgrade to react 19
  .jest/index.ts
  eslint.config.mjs
  jest-utils/index.tsx
  jest-utils/mocks/fileMock.ts
  jest-utils/setup/fetch.ts
  jest-utils/setup/intersectionObserver.ts
  jest-utils/setup/jestDomExpects.ts
  jest-utils/setup/mockMatchMedia.ts
  jest-utils/setup/resizeObserver.ts
  jest-utils/setup/textEncoder.ts
  jest.config.js
  package-lock.json
  package.json
  src/components/accordion/__tests__/Accordion.Test.tsx
  src/components/alert/__tests__/Alert.Test.tsx
  src/components/articleTeaser/__tests__/Index.Test.tsx
  src/components/breadcrumbs/__tests__/Breadcrumbs.Test.tsx
  src/components/button/__tests__/Button.Test.tsx
  src/components/carousel/__tests__/Index.Test.tsx
  src/components/carousel/__tests__/NumbersPagination.Test.tsx
  src/components/carousel/__tests__/ThumbnailPagination.Test.tsx
  src/components/checkbox/__tests__/Checkbox.Test.tsx
  src/components/checkboxFilter/__tests__/Checkbox.Test.tsx
  src/components/colorPicker/__tests__/ColorPicker.Test.tsx
  src/components/datePicker/__tests__/DatePicker.Test.tsx
  src/components/devOverlay/__tests__/DevOverlay.Test.tsx
  src/components/discreteSlider/__tests__/DiscreteSlider.Test.tsx
  src/components/filterPatterns/Heading.tsx
  src/components/filterPatterns/modal/__tests__/Index.Test.tsx
  src/components/filterPatterns/popover/__tests__/Index.Test.tsx
  src/components/formControl/__tests__/FormControl.Test.tsx
  src/components/input/SearchField.tsx
  src/components/input/__tests__/Input.Test.tsx
  src/components/link/__tests__/Link.Test.tsx
  src/components/list/__tests__/SearchableList.Test.tsx
  src/components/list/__tests__/SearchableListItem.Test.tsx
  src/components/menu/__tests__/Menu.Test.tsx
  src/components/menu/index.tsx
  src/components/mobileOnlyAccordion/__tests__/MobileOnlyAccordion.Test.tsx
  src/components/navigation/header/__tests__/index.Test.tsx
  src/components/pagination/__tests__/Pagination.Test.tsx
  src/components/radio/RadioList.tsx
  src/components/radio/__tests__/Radio.Test.tsx
  src/components/rangeFilterInput/__tests__/Index.Test.tsx
  src/components/rangeFilterInputWithSlider/__tests__/Index.Test.tsx
  src/components/section/__tests__/Section.Test.tsx
  src/components/selectMenu/index.tsx
  src/components/simpleHeader/__tests__/SimpleHeader.Test.tsx
  src/components/tab/__tests__/Tabs.Test.tsx
  src/components/tenantSelection/__tests__/TenantSelection.Test.tsx
  src/components/textarea/__tests__/TextArea.Test.tsx
  src/components/themeProvider/__tests__/ThemeProvider.Test.tsx
  src/components/timePicker/__tests__/TimePicker.Test.tsx
  src/components/tooltip/__tests__/Tooltip.Test.tsx
  src/components/vehicleReference/__tests__/VehicleReference.Test.tsx
Labels: released on @lkappeler-FED-802-upgrade-react

#1546 Migrate modal
  src-v2/components/index.ts
  src-v2/components/modal/ModalCloseButton.tsx
  src-v2/components/modal/index.tsx
  src-v2/themes/components/index.ts
  src-v2/themes/components/modal.ts
  src/components/dialog/DialogCloseButton.tsx
  src/components/dialog/index.stories.tsx
  src/components/dialog/index.tsx
  src/components/index.ts
  src/themes/shared/slotRecipes/dialog.ts
  src/themes/shared/slotRecipes/index.ts
  src/themes/shared/tokens/sizes.ts
Labels: released on @migrate-modal

#1556 fix: advertising header link
  src/components/navigation/header/config/advertise.ts
Labels: released on @fix-advertising-header-link

#1554 feat: migrate useToken hook
  src-v2/hooks/index.ts
  src-v2/hooks/useToken.ts
  src/hooks/__tests__/useToken.Test.ts
  src/hooks/index.ts
  src/hooks/useToken/index.stories.tsx
  src/hooks/useToken/index.ts
Labels: released on @ST-1389-migrate-use-token

#1552 feat: closeButton migration
  src/components/closeButton/index.stories.tsx
  src/components/closeButton/index.tsx
  src/themes/shared/recipes/closeButton.ts
  src/themes/shared/recipes/index.ts
Labels: released on @close-btn-migration
