Repository smg-automotive/components-pkg, pull requests merged in 2025-08, with the labels that each got.

#1501 feat: migrate input
  package-lock.json
  package.json
  src-v2/components/input/InputWrapper.tsx
  src-v2/components/input/SearchField.tsx
  src-v2/themes/components/button.ts
  src-v2/themes/components/input.ts
  src/components/checkbox/index.tsx
  src/components/index.ts
  src/components/input/ClearButton.tsx
  src/components/input/SearchField.stories.tsx
  src/components/input/SearchField.tsx
  src/components/input/__tests__/Input.Test.tsx
  src/components/input/index.stories.tsx
  src/components/input/index.tsx
  src/themes/shared/slotRecipes/index.ts
  src/themes/shared/slotRecipes/input.ts
  src/themes/shared/tokens/sizes.ts
Labels: released on @migrate-input

#1511 fix: yargs usage in cli after update
  rollup.config.mjs
  src/lib/cli/index.ts
Labels: released on @fix-cli

#1522 fix: Bookmark icon size and path fix.
  src/components/icons/BookmarkIcon.tsx
Labels: released on @fix-bookmark-icon

#1508 fix: large scrollable modal bug and removal of top margin for mobile devices
  src/themes/components/modal.ts
Labels: released on @scrollable-modal-bug

#1525 feat: add favorites link icon to navigation header
  src/components/navigation/header/FavoritesItem.tsx
  src/components/navigation/header/__tests__/index.Test.tsx
  src/components/navigation/header/config/DrawerNodeItems.tsx
  src/components/navigation/header/config/iconItems.ts
  src/components/navigation/header/config/user.ts
  src/components/navigation/header/index.tsx
Labels: released on @DM-4669-add-favorites-to-nav-header

#1510 Migrate checkbox filter to V3
  src-v2/components/index.ts
  src/components/checkbox/index.tsx
  src/components/checkboxFilter/CheckboxGroupCollapsibleWithChildren.tsx
  src/components/checkboxFilter/CheckboxWithFacet.tsx
  src/components/checkboxFilter/__tests__/Checkbox.Test.tsx
  src/components/checkboxFilter/index.stories.tsx
  src/components/checkboxFilter/index.tsx
  src/components/checkboxFilter/type.ts
  src/themes/shared/slotRecipes/checkbox.ts
Labels: released on @migrate-checkboxFilter

#1526 fix: remove paddingTop for small devices
  src/themes/components/modal.ts
Labels: released on @removing-topPadding-mobile-modal
