Repository smg-automotive/components-pkg, pull requests merged in 2025-06, with the labels that each got.

#1413 feat: quality seal icon
  src/components/icons/QualitySealIcon.tsx
  src/components/icons/index.ts
Labels: released on @quality-seal-icon

#1412 fix: buttons count in pagination component
  src/components/pagination/__tests__/Pagination.Test.tsx
  src/components/pagination/index.tsx
Labels: released on @DM-4245-fix-pagination-buttons-count

#1425 feat: port changes from 23.x into 24
  .github/workflows/codeql-analysis.yml
  package-lock.json
  package.json
  src/components/colorPicker/__tests__/ColorPicker.Test.tsx
  src/components/colorPicker/index.stories.tsx
  src/components/colorPicker/index.tsx
  src/components/icons/QualitySealIcon.tsx
  src/components/icons/ScreenIcon.tsx
  src/components/icons/index.ts
  src/components/index.ts
  src/components/navigation/header/__tests__/index.Test.tsx
  src/components/navigation/header/index.stories.tsx
  src/components/pagination/__tests__/Pagination.Test.tsx
  src/components/pagination/index.tsx
  src/components/tenantSelection/__tests__/TenantSelection.Test.tsx
  src/components/tenantSelection/index.stories.tsx
Labels: released on @merge-23

#1435 Fake door header leasing
  src/components/navigation/header/config/DrawerNodeItems.tsx
  src/components/navigation/header/config/headerLinks.ts
  src/components/navigation/header/config/leasing.ts
  src/components/navigation/header/index.stories.tsx
  src/components/navigation/header/index.tsx
  src/locales/de/dict.json
  src/locales/en/dict.json
  src/locales/fr/dict.json
  src/locales/it/dict.json
Labels: released on @fake-door-header-leasing

#1447 feat: create overflow icon
  src/components/icons/OverflowVerticalIcon.tsx
  src/components/icons/index.ts
Labels: released on @talamcol-overlflow-vertical

#1445 fix: update privacy policy links in the footer
  src/components/navigation/footer/config/index.ts
Labels: released on @update-privacy-policy-link
